# The environment format (e.g. dev, staging, prod)
APP_ENV=dev

# Server Protocol (e.g., http, https)
API_SCHEME=http

# App API domain logic
API_DOMAIN=localhost

# API server port
API_PORT=10063

# API versioning path
API_VERSION=api/v0

# Docker Config
WEB_PORT=8080
IMAGE_NAME=cashlenx-web
IMAGE_TAG=latest
CONTAINER_NAME=cashlenx-website
